@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Sarala:wght@700&display=swap');

@font-face {
    font-family: 'Android';
    src: url("/fontes/idroid.otf");
    font-weight: normal;
}

:root {
    --cor1: #7BF1A8;
    --cor2: #538165;
    --cor3: #587D71;
    --cor4: #092327;
    --cor5: #2A2D34;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor1);
}

header {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor2) );
    font-family: var(--fonte-padrao);
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}
header > h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 3rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.479);
}
header > p {
    color: white;
    margin: auto;
    font-size: 1.2rem;
    max-width: 400px;
    padding-bottom: 50px;
}


nav {
    background-color: var(--cor4);
    padding: 10px;
    text-align: center;
    font-family: var(--fonte-padrao) ;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.384);
    
}
nav > a {
    text-decoration: none;
    color: var(--cor1);
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    transition-duration: 0.5s;
}
nav > a:hover {
    background-color: var(--cor1);
    color: var(--cor4);
    border-radius: 5px;
}


main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 25px;
    background-color: white;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.432);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: var(--fonte-padrao);
}
main h1 {
    font-family: var(--fonte-padrao);
    font-size: 1.5em;
    color: var(--cor4);
}
main h2 {
    font-family: var(--fonte-padrao);
    font-size: 1.3em;
    color: var(--cor2);
}
main p {
    margin: 20px 0;
    text-align: justify;
    text-indent: 40px;
    line-height: 1.5em;
}
main strong {
    color: var(--cor2);
    font-weight: bold;
}
main a {
    color: var(--cor4);
    background-color: var(--cor1);
    text-decoration: none;
    padding: 2px 6px;
}
main a:hover {
    color: var(--cor1);
    background-color: var(--cor4);
    text-decoration: underline;
    font-weight: bold;
}
main img {
    width: 100%;
}
main img.pequena {
    width: 50%;
    display: block;
    margin: auto;
}
aside {
    background-color: #cfeedb;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.281);
}
aside > h3 {
    color: var(--cor1);
    background-color: var(--cor4);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul {
    list-style-position: inside;
    columns: 2;
    padding-bottom: 20px;
}

.video {
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

.video iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    font-size: 0.8em;
    width: 100%;
    margin: 0 auto;
    
}
footer p {
    text-align: center;
    font-family: var(--fonte-padrao);
}
footer a {
    color: var(--cor1);
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}